<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body lang="{{ .Site.Params.lang }}">

{{ if .IsPage }}
<section class="header">
{{ else }}
<section class="header header-home">
{{ end }}
    <div class="container">
        <a href="{{ .Site.BaseURL }}"><img class="logo" src="{{ .Site.Params.logofile | absURL }}" /></a>
        <div class="content">
            <a href="{{ .Site.BaseURL }}"><div class="name"><h1>{{ .Site.Title }}</h1></div></a>
            <nav>
                <ul>
                    {{ if ne (len (where .Site.RegularPages "Section" "blog")) 0 }}
                        <a href="{{ .Site.BaseURL }}blog/"><li>Blog</li></a>
                    {{ end }}
                    {{ range .Site.Sections }}
                        {{ range first 1 (where .Pages "Section" "ne" "")}}
                            {{ if ne .Section "blog"}}
                            <a href="{{ .Section | urlize }}"><li>{{ .Section }}</li></a>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    {{ range where .Site.RegularPages "Section" ""}}
                        {{ if ne .Title "Home"}}
                            <a href="{{ .Permalink }}"><li>{{ .Title }}</li></a>
                        {{ end }}
                    {{ end }}
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="icons">
    <div class="container">
        <div class="content">

        {{ if .Site.Params.github }}
            <a href="https://github.com/{{ .Site.Params.github }}" target="_blank">
                <i class="fa fa-github fa-lg"></i>
            </a>
        {{ end }}

        {{ if .Site.Params.googleplus}}
            <a href="https://plus.google.com/+{{ .Site.Params.googleplus }}" target="_blank">
                <i class="fa fa-google-plus-official fa-lg"></i>
            </a>
        {{ end }}

        {{ if .Site.Params.youtube}}
            <a href="https://www.youtube.com/{{ .Site.Params.youtube }}" target="_blank">
                <i class="fa fa-youtube-play fa-lg"></i>
            </a>
        {{ end }}

        {{ if .Site.Params.steam}}
            <a href="https://steamcommunity.com/id/{{ .Site.Params.steam }}" target="_blank">
                <i class="fa fa-steam fa-lg"></i>
            </a>
        {{ end }}

        {{ if .Site.Params.flickr}}
            <a href="https://www.flickr.com/photos/{{ .Site.Params.flickr }}" target="_blank">
                <i class="fa fa-flickr fa-lg"></i>
            </a>
        {{ end }}

        {{ if .Site.Params.stackoverflow}}
            <a href="https://stackoverflow.com/users/{{ .Site.Params.stackoverflow }}" target="_blank">
                <i class="fa fa-stack-overflow fa-lg"></i>
            </a>
        {{ end }}

        {{ if .Site.Params.facebook}}
            <a href="https://www.facebook.com/{{ .Site.Params.facebook }}" target="_blank">
                <i class="fa fa-facebook fa-lg"></i>
            </a>
        {{ end }}

        {{ if .Site.Params.twitter }}
            <a href="https://twitter.com/{{ .Site.Params.twitter }}" target="_blank">
                <i class="fa fa-twitter fa-lg"></i>
            </a>
        {{ end }}

        {{ if .Site.Params.linkedin }}
            <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}" target="_blank">
                <i class="fa fa-linkedin fa-lg"></i>
            </a>
        {{ end }}

        {{ if .Site.Params.twitch }}
            <a href="https://www.twitch.tv/{{ .Site.Params.twitch }}" target="_blank">
                <i class="fa fa-twitch fa-lg"></i>
            </a>
        {{ end }}

        {{ if .Site.Params.email }}
            <a href="mailto:{{ .Site.Params.email }}">
                <i class="fa fa-ios-email larger fa-lg"></i>
            </a>
        {{ end }}

        {{ if .Site.RSSLink }}
            <a href="{{ .Site.RSSLink }}">
                <i class="fa fa-rss larger fa-lg"></i>
            </a>
        {{ end }}
        </div>
    </div>
</section>
